@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Geo;
    src: url("../public/fonts/geographwebmedium.ttf") format("truetype");
}

@font-face {
    font-family: Brico;
    src: url("../public/fonts/BricolageGrotesque_72pt-Medium.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}